<!-- 
<p *ngFor="let car of cars; let i = index">
    {{i + 1}}: {{car.model}}
</p>
 -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <!-- Eltüntetés
                  <button *ngIf="!newCarData" class="btn btn-sm btn-success" (click)="newCar()">+</button> 
              -->
        <button class="btn btn-sm btn-success" (click)="newCar()">+</button>
      </th>
      <th scope="col">Rendszám</th>
      <th scope="col">Modell</th>
      <th scope="col">Napi ár</th>
      <th scope="col">Dátum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars; let i = index">
      <th scope="row">
        <button
          class="btn btn-outline-warning btn-sm p-1 me-2"
          (click)="modifyCarRequest(car)"
        >
          ✏
        </button>
        <button
          class="btn btn-outline-danger btn-sm p-1"
          (click)="deleteCarRequest(car)"
        >
          ❌
        </button>
      </th>
      <td>
        {{ car.licensePlate }}
      </td>
      <td>
        {{ car.model }}
      </td>
      <td>
        {{ car.pricePerDay }}
      </td>
      <td>
        {{ car.date | first10CharWithPoint }}
      </td>
    </tr>
  </tbody>
</table>

<app-confirm
  *ngIf="carToDelete"
  (canceled)="carToDelete = null"
  (confirmed)="deleteCar()"
>
  Biztosan törölni szeretné a <b>{{ carToDelete.licensePlate }}</b> rendszámú
  autót a nyilvántartásból?
</app-confirm>

<app-car-editor
  *ngIf="carToModify"
  (closed)="modifyCar($event)"
  [model]="carToModify"
>
</app-car-editor>

<app-car-editor
  *ngIf="newCarData"
  (closed)="newCarSave($event)"
  [model]="newCarData"
  [isnew]="true"
>
</app-car-editor>

<div *ngIf="errorText" class="alert alert-danger" role="alert">
  {{ errorText }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="errorText = ''"
  ></button>
</div>
