<span *ngFor="let car of cars; let i = index">
  {{ i + 1 }}: {{ car.model }},
</span>

<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <!-- Remove button -->
        <!-- <button *ngIf="!newCarData" class="btn btn-sm btn-success" (click)="newCar()">+</button> -->
        <!-- Disable button -->
        <button
          class="btn btn-sm btn-success"
          (click)="newCar()"
          [disabled]="newCarData"
        >
          +
        </button>
      </th>
      <th scope="col">Rendszám</th>
      <th scope="col">Modell</th>
      <th scope="col">Napi ár</th>
      <th scope="col">Dátum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="newCarData">
      <td>
        <button class="btn btn-sm btn-success me-2" (click)="newCarSave()">
          ✔
        </button>
        <button class="btn btn-sm btn-danger" (click)="newCarData = null">
          ❌
        </button>
      </td>
      <td>
        <input
          title="Rendszám"
          placeholder="Rendszám"
          type="text"
          class="form-control"
          [(ngModel)]="newCarData.licensePlate"
          [ngClass]="errors.licensePlate ? 'border border-danger border-3' : ''"
          (keyup)="errors.licensePlate = false"
        />
      </td>
      <td>
        <input
          title="Modell"
          placeholder="Modell"
          type="text"
          class="form-control"
          [(ngModel)]="newCarData.model"
          [ngClass]="errors.model ? 'border border-danger border-3' : ''"
          (keyup)="errors.model = false"
        />
      </td>
      <td>
        <input
          title="Napi ár"
          placeholder="Napi ár"
          type="number"
          class="form-control"
          [(ngModel)]="newCarData.pricePerDay"
          [ngClass]="errors.pricePerDay ? 'border border-danger border-3' : ''"
          (keyup)="errors.pricePerDay = false"
        />
      </td>
      <td>
        <input
          title="Dátum"
          placeholder="Dátum"
          type="date"
          class="form-control"
          [(ngModel)]="newCarData.date"
          [ngClass]="errors.date ? 'border border-danger border-3' : ''"
          (keyup)="errors.date = false"
        />
      </td>
    </tr>
    <tr *ngFor="let car of cars; let i = index">
      <th scope="row">
        <button
          class="btn btn-outline-warning btn-sm me-2 p-1"
          [disabled]="newCarData"
        >
          ✎
        </button>
        <button class="btn btn-outline-danger btn-sm" [disabled]="newCarData">
          ✘
        </button>
      </th>
      <td>{{ car.licensePlate }}</td>
      <td>{{ car.model }}</td>
      <td>{{ car.pricePerDay }}</td>
      <!-- <td>{{ car.date | date: 'yyyy.MM.dd' }}</td> -->
      <td>{{ car.date | first10CharWithPoint }}</td>
    </tr>
  </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal">
  Launch demo modal
</button>

<!-- Modal -->
<div *ngIf="false" class="modal fade show d-block" id="deleteConfirmModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        ( ´･･)ﾉ(._.`)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
