<span *ngFor="let car of cars; let i = index">
  {{ i + 1 }}: {{ car.model }},
</span>

<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <!-- Remove button -->
        <!-- <button *ngIf="!newCarData" class="btn btn-sm btn-success" (click)="newCar()">+</button> -->
        <!-- Disable button -->
        <button
          class="btn btn-sm btn-success"
          (click)="newCar()"
          [disabled]="newCarData || carToEdit"
        >
          +
        </button>
      </th>
      <th scope="col">Rendszám</th>
      <th scope="col">Modell</th>
      <th scope="col">Napi ár</th>
      <th scope="col">Dátum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="newCarData">
      <td>
        <button class="btn btn-sm btn-success me-2" (click)="newCarSave()">
          ✔
        </button>
        <button class="btn btn-sm btn-danger" (click)="newCarData = null">
          ❌
        </button>
      </td>
      <td>
        <input
          title="Rendszám"
          placeholder="Rendszám"
          type="text"
          class="form-control"
          [(ngModel)]="newCarData.licensePlate"
          [ngClass]="errors.licensePlate ? 'border border-danger border-3' : ''"
          (keyup)="errors.licensePlate = false"
        />
      </td>
      <td>
        <input
          title="Modell"
          placeholder="Modell"
          type="text"
          class="form-control"
          [(ngModel)]="newCarData.model"
          [ngClass]="errors.model ? 'border border-danger border-3' : ''"
          (keyup)="errors.model = false"
        />
      </td>
      <td>
        <input
          title="Napi ár"
          placeholder="Napi ár"
          type="number"
          class="form-control"
          [(ngModel)]="newCarData.pricePerDay"
          [ngClass]="errors.pricePerDay ? 'border border-danger border-3' : ''"
          (keyup)="errors.pricePerDay = false"
        />
      </td>
      <td>
        <input
          title="Dátum"
          placeholder="Dátum"
          type="date"
          class="form-control"
          [(ngModel)]="newCarData.date"
          [ngClass]="errors.date ? 'border border-danger border-3' : ''"
          (keyup)="errors.date = false"
        />
      </td>
    </tr>
    <tr *ngFor="let car of cars; let i = index">
      <th scope="row">
        <button
          class="btn btn-outline-warning btn-sm me-2 p-1"
          [disabled]="newCarData || carToEdit"
          (click)="editCarRequest(car)"
        >
          ✎
        </button>
        <button
          class="btn btn-outline-danger btn-sm"
          [disabled]="newCarData || carToEdit"
          (click)="deleteCarRequest(car)"
        >
          ✘
        </button>
      </th>
      <td>{{ car.licensePlate }}</td>
      <td>{{ car.model }}</td>
      <td>{{ car.pricePerDay }}</td>
      <!-- <td>{{ car.date | date: 'yyyy.MM.dd' }}</td> -->
      <td>{{ car.date | first10CharWithPoint }}</td>
    </tr>
  </tbody>
</table>

<div
  *ngIf="carToDelete"
  class="modal fade show d-block"
  id="deleteConfirmModal"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmModalLabel">Megerősítés</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="carToDelete = null"
        ></button>
      </div>
      <div class="modal-body">
        ( ´･･)ﾉ(._.`) <br />
        Biztosan szeretnéd törölni a {{ carToDelete.licensePlate }} rendszámú
        autót a nyilvántartásból?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="carToDelete = null"
        >
          Mégsem
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteCar()">
          Törlés
        </button>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="errorText"
  class="alert alert-danger d-flex align-items-center w-50 float-end"
  role="alert"
>
  <div class="mx-auto">
    <p class="text-start m-0">⁉ {{ errorText }}</p>
  </div>
  <button
    type="button"
    class="btn-close float-end"
    data-bs-dismiss="modal"
    (click)="(errorText)"
  ></button>
</div>
