<div class="content">
  <div class="container">
    <form action="">
      <label class="form-label">Autó:</label>
      <select title="car" class="form-select" [(ngModel)]="model.carId" name="carId">
        <option value="">Kérem válassza ki az autót</option>
        <option *ngFor="let car of cars" [value]="car.id">
          {{car.factoryAndModel}} ({{car.licensePlateNumber}})
        </option>
      </select>
      <label class="form-label">Dátum:</label>
      <input title="date" type="date" class="form-control" [(ngModel)]="model.date" name="date">
      <label class="form-label">Honnan:</label>
      <input title="from" type="text" class="form-control" [(ngModel)]="model.from" name="from">
      <label class="form-label">Hova:</label>
      <input title="to" type="text" class="form-control" [(ngModel)]="model.to" name="to">
      <label class="form-label">Kilométeróra állása:</label>
      <input title="km" type="number" class="form-control" [(ngModel)]="model.km" name="km">
      <label class="form-label">Sofőr</label>
      <input title="driver" type="text" class="form-control" [(ngModel)]="model.driverName" name="driverName">
      <div *ngIf="errorMessage" class="text-danger">
        {{errorMessage}}
      </div>
      <button type="submit" class="btn btn-primary" (click)="save()">Mentés</button>
    </form>
  </div>
</div>
